@font-face{
	src: url('../font/font.ttf');
	font-family:'font';
}
*{
    margin: 0px;
    padding: 0px;
}
.cleaner{
    clear: both;
}
body{
    font-family: 'font';
}
li{
    list-style-type:none;
}
a {
    text-decoration:none;
}
/*Baner*/
header{
    width:100%;
	background-repeat:no-repeat;
	background-size:cover;
    background-position:center;
    padding-bottom: 10px; 
    background-attachment:fixed;
}
#home{
	background-image:url("../img/naslovna.jpeg");
}
nav{
    width: 100%;
    background-color:rgba(3, 3, 19, 0.6);
}
nav:hover{
    background-color:rgba(0, 0, 0, 0.9);
    transition: 1s;
}
#logo{
    width: 20%;
    text-align: center;
    margin:0px auto;
    float: left;
   
}
#logo img{
    width: 50%;
    margin-top: 5px;
}
#navigacija{
        float: right;
}
#navigacija li{
    display: inline;
    margin: 0px 0px 0px 60px;
    color: #fff;
    font-size: 25px;
}
#navigacija li:hover{
    color: #6a81ab;
}
#navDgm{
    color: #ffffff;
    font-size: 30px;
    padding: 30px;
    background-color: #6a81ab;
    border: 2px solid #6a81ab;
}
#baner{
    width: 40%;
    margin:200px auto;
    padding: 50px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    background-color:  rgba(32, 32, 53, 0.6);
    border-top: 7px solid #1f1f2d;
    border-bottom: 7px solid #6a81ab;
}
.zDgm, .bDgm{
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px 10px;
}
.zDgm{
    border: 2px solid #6a81ab;
    background-color: #fff;
    color: #6a81ab;
}

.bDgm{
    border: 2px solid #fff;
    background-color: #fff;
    color: #6a81ab;
}
.zDgm:hover, .bDgm:hover{
    border: 2px solid #6a81ab;
    background-color: #6a81ab;
    color: #1f1f2d;
}
#pretraga{
    width: 100%;
    text-align: center;
    background-color:  rgba(31, 31, 45, 0.8);
    display: none;
}
.polje{
    font-size: 18px;
    padding: 10px 20px;
    width: 40%;
}
/*efekat za pretragu*/
#pretraga:target{
    display: block;
}

.blok{
    width: 80%;
    margin: 50px auto;
    padding: 50px;
}
.tekst{
    float: left;
    width: 60%;
}
.tekst h2{
    font-size: 35px;
    color: #fff;
    margin-bottom: 20px;
}
.tekst p{
    font-size: 18px;
    color: #fff;
}
#tamno h2{
    color: #000;
}
#tamno p{
    color: #000;
}
#opisDgm{
    float: right;
    margin:70px 150px 0px 0px;
}
#malaGalerija img{
    width: 30%;
    margin: 1.5%;
    border-top: 6px solid #1f1f2d;
    border-bottom: 6px solid #6a81ab;
}
.zuto{
    background-color: #6a81ab;
}
#kontakti{
    display: flex;
}
.kontaktBlok{
    width: 30%;
    margin: 1.5%;
    text-align: center;
}
.kontaktBlok h3{
    font-size: 25px;
    color: #fff;
    margin-bottom: 15px;
}
.kontaktBlok p{
    font-size: 18px;
    color: #fff;
}
/*dogadjaji*/
#dog{
    display: flex;
}
.dogadjaji h2{
    font-size: 30px;
    color: rgb(20, 19, 19);
    border-left: 6px solid #6a81ab;
    padding-left:10px;
    margin-bottom: 40px;
}
.dogadjaji{
    width: 100%;
    margin: 0px auto;
    margin-bottom: 40px;
}
.ikonicaDog{
    float: left;
    margin-right: 40px;
    background-color: rgba(135, 140, 214, 0.548);
    color: #6a81ab;
    font-size: 50px;
    padding: 30px;
}
.dogText h4{
    font-size: 25px;
    color: #2c2c3f;
    margin-bottom: 10px;
}
.dogText p{
    font-size: 18px;
    color: #000000;
    text-align: justify;
}
.vise{
    cursor: pointer;
}
.ikonicaDog:hover{
    background-color: #6a81ab;
    color: #2c2c3f;
}

/*futer*/
footer{
    background-color: #0a0a0e;
    padding-top: 50px;
}
.okvir{
    width: 80%;
    margin: 0px auto;
}
.futerLevo{
    width: 30%;
    float: left;
    padding:0px 20px;
}
.futerLevo img{
    width: 50%;
    margin: 0px 0px 25px 25%;
}
.futerLevo p{
    font-size: 15px;
    text-align: justify;
    color: #757575;
}
.futerBlok{
    width: 20%;
    float: right;
    padding:0px 10px;
}
#socFuter li{
    display: inline-block;
    margin: 20px 10px;
    font-size: 20px;
    color: #757575;
}
.futerBlok h1{
    font-size: 25px;
    color: #757575;
    border-left: 5px solid #6a81ab;
    padding-left: 10px;
    margin-left: 30%;
    margin-bottom: 30px;
}
.listaFuter li{
    font-size: 17px;
    color: #757575;
    margin-bottom: 15px;
    text-align: center;
}
.listaFuter li:hover{
    color: #6a81ab; 
    text-decoration: underline;
}
#socFuter li:hover, .so{
    color: #6a81ab;
}
.linkUFuteru, .linkAutor{
    font-size: 17px;
    color: #6a81ab !important; 
    text-decoration: underline;
}
.linkAutor:hover{
    font-size: 25px;
}
#copy{
    font-size: 15px;
    text-align: center;
    color: #757575;
    padding: 20px 0px;
    border-top: 2px solid #2c2c3f;
}

/*PONUDA*/
#ponuda{
	background-image:url("../img/ponuda.jpeg");
}
#ponudaSadržajA{
    background-color: #2c2c3f;
}

#ponudaSadržajB{
    width:100%;
	background-repeat:no-repeat;
	background-size:cover;
    background-position:center;
    background-image: url("../img/planina.jpeg");
    background-attachment:fixed;
    padding-bottom: 30px;
}
#ponudaSadržajB p{
    color: #d6d6d6;
}
#specijalni{
    margin-bottom: auto;
    padding: 25px 50px 30px 50px;
}
#ponudaSadržajC{
    background-color: #6a81ab;
}
.ponudaBlok{
    margin: 0px auto;
    width: 70%;
    padding: 30px;
    display: flex;
}
.slikaPonudaBlok{
    width: 60%;
}
.slikaPonudaBlok img{
    width: 100%;
}
.opisPonudaBlok{
    width: 40%;
    padding: 25px 50px 50px 50px;
    margin-bottom: 30px;
}
.opisPonudaBlok h2{
    border-left: 5px solid #d1dae8;
    font-size: 30px;
    color: #d6d6d6;
    padding-left: 15px;
    margin-bottom: 30px;
}
.opisPonudaBlok p{
    font-size: 18px;
    color: #fff;;
}
.ponudaBlokSlika{
    background-color:rgba(31, 31, 45, 0.6);
}

/*galerija*/
#galerija{
	background-image:url("../img/galerija.jpeg");
}
iframe{
    float: right;
}
.blokGalerija{
    width: 40%;
    margin: 40px 5%;
    float: right;
    border-top: 5px solid #d1dae8;
    border-bottom: 5px solid #1f1f2d;
}
.blokGalerija:hover{
    width: 45%;
    margin: 40px 1%;
    transition: 1s;
}

/*kontakti*/
#mapa{
    width: 100%;
    margin: -50px 0px 50px 0px;
}
.maps{
    float: none;
}
#rezervacije{
    background-color: #2c2c3f;
    padding: 10px 0px;
}
#rezervacije h1{
    color: #d6d6d6;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}
#rezF{
    width: 50%;
    margin: 0px auto;
}
.poljeForm{
    font-size: 20px;
    padding: 10px;
    color: #757575;
    background-color: #464646;
    border: none;
    width: 100%;
    margin: 5px 0px;
    border-left: 3px solid #d1dae8;
}
.poljeForm2{
    width: 43%;
}
label, form p{
    font-size: 20px;
    color: #d6d6d6;
}
#rezF p{
    font-size: 18px;
    color: #d6d6d6;
    margin-top: 15px;
}
.radio{
    margin-right: 20px;
}
/*autor*/
#slikaAutora{
    width: 50%;
    margin-bottom: 40px;
}
#omeni{
    font-size: 25px;
    color: #d6d6d6;
    margin-top: 25px;
}